/* fontはネットから */

@font-face {
    font-family: 'Bersambung_IWK';
    src: url("Tegak Bersambung_IWK.woff2") format('woff2'), url("Tegak Bersambung_IWK.woff") format('woff'), url("Tegak Bersambung_IWK.ttf") format('ttf');
}

h2,
h3,
p,
a {
    font-family: 'Noto Sans JP', sans-serif;
}

.errorPannelTitle {
    font-family: 'Bersambung_IWK', sans-serif;
    font-size: 5em;
    text-align: center;
    margin-top: 5%;
}

.errorPannelMain {
    text-align: center;
    font-size: 2.5em;
    padding: 0.5em;
    margin-top: 5%;
}

.errorPannelText {
    font-size: 1.5em;
    text-align: center;
    margin: 0.5em;
}

.errorPannelBox {
    margin-top: 7.5%;
}